:root {
    --color: #e8e8e8
}

.audioPlayer {
    background-color: var(--color);
    padding: 10px 15px;
    border-radius: 10px;
}

.audioPlayer__info {
    display: flex;
}

.audioPlayer__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}